:root {
    --dark: #272727;
    --light: #f5f5f5;

    --contrast: #414141;
    --transparent: rgba(0,0,0,0.5);
}

/* Default Customs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background: var(--dark);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* Fast Customization */

/* Flex */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


/* Custom Elements */
.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li {
    list-style: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--light);
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .options span svg {
    width: 20px;
    height: 20px;
    fill: var(--light);
}

.navbar .options img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.view .col {
    height: 90vh;
    background: var(--contrast);
}

.col-1 {
    width: 60%;
}

.col-2 {
    width: 40%;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-2 img {
    max-width: 100%;
    max-height: 100%;
}

.controllers {
    width: 100%;
    padding: 10px 0;
    background: var(--dark);
    /* backdrop-filter: blur(10px); */

    justify-content: center;
    align-items: center;
    
    position: absolute;
    bottom: 0;
    left: 0;
}

.controllers svg {
    width: 30px;
    height: 30px;
    margin: 0 10px;

    fill: var(--light);
}

.controllers span svg {
    width: 60px;
    height: 60px;
    fill: var(--light);
    cursor: pointer;
}

#btn--pause {
    display: none;
}